<style>
        .header {
            text-align: center;
            font-family: Ubuntu;

        }
        article {
            font-family: Garamond, serif;
            margin-left: 10px;
            margin-right: 10px;
        }
        .images {
            border: solid black 2px;
            float: right;
            margin: 5px;
            
        }
    </style>
