
.header {
    text-align: center; 
    font-family: Ubuntu;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

article {
    font-family: Garamond, serif;
    margin-left: 5%;
    margin-right: 5%;
}
.my_pic {
    border: solid black 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 10px;
}
